<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/layui/layui/css/layui.css" />
    <script src="/static/js/jquery.min.js"></script>


    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<!-- content -->
{% block content %}
{% endblock %}<!-- // content -->
</body>
</html>
